/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* box sizing border box */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  font-family: "Titillium Web", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
  margin-bottom: 15px;
}

.container header {
  padding: 10px 20px;
  background: rgb(202, 192, 45);
  height: 50px;
}

header div {
  width: 100px;
}
header img {
  width: 100%;
  border-radius: 5px;
  float: left;
}

header .nav_left {
  display: inline;
  float: left;
  padding: 5px 20px;
}

header .nav_right {
  display: inline;
  float: right;
  padding: 5px 20px;
}

header ul{
  display: flex;
}
 
header li{
  padding-left: 5px;
}

header a {
  text-decoration: none;
  color: black;
  margin: 5px;
  font-weight: bold;
}

a:hover {
  cursor: pointer;
  color: royalblue;
}

.form {
  display: block;
  padding: 10px;
  text-align: center;
  background: black;
}

.form form {
  width: 40%;
  margin: 0 auto;
  background: white;
}

.form h2 {
  font-size: 30px;
  padding: 20px 0;
  font-weight: bold;
}

.form input {
  width: 300px;
  margin-bottom: 50px;
  outline: none;
  border: none;
  border-bottom: 1px solid grey;
  height: 30px;
  color: #333;
  font-size: 16px;
}

.form input[type="submit"] {
  border: none;
  outline: none;
  height: 40px;
  width: 85%;
  border-radius: 20px;
  background: red;
  color: #fff;
  font-size: 20px;
  margin-bottom: 50px;
}

.form input[type="submit"]:hover {
  cursor: pointer;
}
.form p {
  margin: 0;
  padding: 0;
}

.form a {
  text-decoration: none;
  text-align: center;
  color: rgb(235, 27, 27);
  font-weight: bold;
}

#account {
  padding-bottom: 20px;
}

footer {
  display: flex;
  justify-content: space-around;
  margin: 10px auto;
  font-family: sans-serif;
}

.footer_section {
  font-size: 10px;
  padding-bottom: 16px;
  text-align: justify;
  margin: 20px 15px;
  font-weight: bold;
}

.footer_section p {
  margin-bottom: 5px;
}
.footer_name {
  padding-bottom: 5px;
}

.footer_section a {
  text-decoration: none;
  color: inherit;
}

@media only screen and (max-width: 770px) {
  nav {
    font-size: 10px;
  }

  .container header {
    padding: 10px 5px;
    height: 50px;
  }

  header img {
    width: 100%;
    border-radius: 5px;
    float: left;
  }

  header div {
    width: 60px;
  }

  header .nav_left {
    padding: 5px;
  }

  header a {
    margin: 0;
  }

  .form form {
    width: 80%;
    margin: 0 auto;
    background: white;
  }

  .form input {
    width: 70%;
  }

  .form h2 {
    font-size: 16px;
  }
}
